div{
    color:gold
    
    

}

img {
    width: 300px;
}


p{
    font-weight: 1000;
}

body{
    background-color:rgb(44, 0, 147);
}


li{
    color:orange;
    font-weight: 700
    

}

.hl {background-color: brown;}



